<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration 
    xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
            <layout class="org.apache.log4j.PatternLayout">
                 <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
            </layout>

            <filter class="org.apache.log4j.varia.StringMatchFilter">
                <param name="StringToMatch" value="Result" />
                <param name="AcceptOnMatch" value="false" />
        </filter>
        </appender>
	<logger name="net.okjsp.spring.star">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.apache.commons">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger> 
</log4j:configuration>